<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
  	<servlet-name>addRecord</servlet-name>
  	<servlet-class>AddRecord</servlet-class>
  	<init-param>
  		<param-name>driver</param-name>
  		<param-value>com.mysql.jdbc.Driver</param-value>
  	</init-param>
  	<init-param>
  		<param-name>url</param-name>
  		<param-value>jdbc:mysql://localhost:3306/hearthstone</param-value>
  	</init-param>
  	<init-param>
  		<param-name>user</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>psw</param-name>
  		<param-value>njcyc3haicheng,.</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addRecord</servlet-name>
  	<url-pattern>/addRecordResult</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>managerValidate</servlet-name>
  	<servlet-class>ManagerValidate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerValidate</servlet-name>
  	<url-pattern>/managerValidate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>buyPack</servlet-name>
  	<servlet-class>com.example.BuyPackage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>buyPack</servlet-name>
  	<url-pattern>/buyPackage</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
